
%table#custom_fields_table.table
  %thead
    %tr
      %th= tm(CustomField, :id)
      %th= tm(CustomField, :label)
      %th= tm(CustomField, :key)
      %th= tm(CustomField, :field_type)
      %th.text-center{ colspan: 2 }
        = link_to new_modal_custom_fields_path(entity: @entity), data: { tooltip: tm(CustomField, :add_field) }, remote: true, class: 'btn btn-sm btn-primary' do
          = g_icon(:add)
  - custom_fields.each do |field|
    %tr{ data: { entity: field.entity, key: field.key } }
      %td= field.id
      %td= field.label
      %td= field.key
      %td= field.field_type
      %td

        = link_to edit_modal_custom_field_path(field), class: 'text-default', remote: true do
          = g_icon(:edit, 'sm-g-icon')
      %td
        = link_to custom_field_path(field), method: :delete, class: 'text-danger', data: { confirm: tgm(:are_you_sure) }, remote: true do
          = g_icon(:delete, 'sm-g-icon')