- value = object.custom_value(column[:key])

- case column[:field_type]
- when 'link'
  - if value.present?
    = link_to normalize_url(value), target: '_blank' do
      .link-btn
        = tgm(:link)
        = g_icon(:open_in_new)

- when 'boolean'
  = value.to_s == '1' ? 'Да' : 'Нет'

- when 'date'
  = value.present? ? value : ''

- else
  = value