= simple_form_for @custom_field, remote: true, html: { id: 'custom-field-form', novalidate: false } do |f|
  .form
    .row
      .col-md-6
        = f.input :entity, as: :select, collection: CustomField.available_entities, required: true
      .col-md-6
        = f.input :key, pattern: "[A-Za-z]+", required: true
    .row
      .col-md-6
        = f.input :label, required: true
      .col-md-6
        = f.input :field_type, as: :select, collection: CustomField::FIELD_TYPE_COLLECTION, label: 'Тип поля', required: true
    .row
      .col-md-6
      .col-md-6.flex.align-center.justify-end
        = f.label :required
        = f.checkbox :required, class: 'switch'