= simple_form_for @interaction, remote: true, html: { id: 'interaction-form', novalidate: false } do |f|
  .form
    = f.input :client_id, as: :select, collection: Client.all.map { |wu| [wu.name, wu.id] }, required: true
    = f.input :interaction_type_id, as: :select, collection: current_company.interaction_types.map { |it| [it.name, it.id] }, required: true

    = f.input :interaction_status_id, as: :select, collection: current_company.interaction_statuses.map { |is| [is.name, is.id] }
    = f.input :comment