.box
  .box-header
    = link_to new_modal_interactions_path, remote: true, data: { disable_with: "<i class='fa fa-circle-o-notch fa-spin'></i>" } do 
      = fa_icon(:plus)

  .box-body
    %table
      %thead
        %tr
          %th= tm(Interaction, :client)
          %th= tm(Interaction, :interaction_type)
          %th= tm(Interaction, :status)
          %th= tm(Interaction, :comment)
          %th= tm(Interaction, :manager)
      %tbody
        - @interactions.each do |interaction|
          %tr
            %td= interaction.client&.name
            %td= interaction.interaction_type_name
            %td= interaction.status
            %td= interaction.comment
            %td= interaction.manager&.email

#interaction-modal-outer