.box
  .box-header
    .flex.align-center
      .box-header-title
        = tm(Interaction, :title)
      %span.box-header-count.text-muted= @interactions.length > 0 ? @interactions.length : ''
      
    .btn-group
      = link_to index_modal_custom_fields_path(entity: "Interaction"), remote: true, data: { tooltip: tm(:CustomField, :table_settings) }, class: "btn btn-default" do
        = fa_icon(:gear)
      = link_to new_modal_interactions_path, class: "btn btn-primary", remote: true, data: { tooltip: tc(:new) } do 
        = fa_icon(:plus)

  .box-body
    = render partial: '/interactions/table', locals: { interactions: @interactions }

#interaction-modal-outer