.table-responsive
  %table
    %thead
      %tr
        %th= tm(User, :id)
        %th= tm(User, :email)
        %th= tm(User, :first_name)
        %th= tm(User, :last_name)
        %th= tm(User, :middle_name)
        %th= tm(User, :phone)
        %th= tm(User, :role)
        %th= tm(User, :banned)
        %th

    %tbody#users-list
      - users.each do |user|
        = render partial: '/users/item', locals: { user: user }