= simple_form_for @client, remote: true, html: { id: 'client-form' } do |f|
  .form
    .row
      .col-md-12
        = f.input :name

    .row
      .col-md-6
        = f.input :phone
      .col-md-6
        = f.input :email

    .row
      .col-md-6
        = f.input :status, as: :select, collection: Client::CLIENT_STATUSES.map { |ct| [tm(Client, "client_status_#{ct}"), ct] }
      .col-md-6
        = f.input :client_type, as: :select, collection: Client::CLIENT_TYPES.map { |ct| [tm(Client, "client_type_#{ct}"), ct] }
    
    .row
      .col-md-12
        = f.input :comment