= simple_form_for @client, remote: true, html: { id: 'client-form' } do |f|
  .form
    = f.input :name
    = f.input :phone
    = f.input :email
    = f.input :status
    = f.input :source
    = f.input :comment