%tr.client-row{ data: { client_id: client.id } }
  - columns.each do |column|
    %td{ style: column[:visible] ? 'display: table-cell;' : 'display: none;', data: { column_key: column[:key], position: column[:position] } }
      - if column[:key] == :created_at
        = small_datetime(client.created_at)
      - elsif column[:key] == :updated_at
        = small_datetime(client.updated_at)
      - elsif column[:key] == :client_status_id
        = color_badge(client.client_status&.name, client.client_status&.color)
      - else
        = client.table_value(column[:key])

  %td.static-position
    = link_to client_path(client), method: :delete, class: 'text-danger', data: { confirm: tgm(:are_you_sure) }, remote: true do
      = g_icon(:delete, 'sm-g-icon')