%tr.client-row{ data: { client_id: client.id } }
  - columns.each do |column|
    %td{ class: (column[:key] == :id || column[:field_type] == 'link') ? 'text-center' : '', style: column[:visible] ? 'display: table-cell;' : 'display: none;', data: { column_key: column[:key], position: column[:position] } }
      - if column[:key] == :created_at
        = small_datetime(client.created_at)
      - elsif column[:key] == :updated_at
        = small_datetime(client.updated_at)
      - elsif column[:key] == :client_status_id
        = color_badge(client.client_status&.name, client.client_status&.color)
      - elsif column[:custom]
        = render partial: '/custom_fields/custom_field_item', locals: { object: client, column: column }
      - else
        = client.table_value(column[:key])

  %td.static-position
    - interaction_length = client.interactions&.length
    .item-with-count
      = link_to new_modal_interactions_path(client_id: client.id), class: "text-primary #{interaction_length > 0 ? "has-count" : ""}", remote: true, data: { tooltip: tm(Interaction, :new) } do 
        = g_icon(:forum, 'sm-g-icon')
        - if interaction_length > 0
          .item-count
            = interaction_length >= 9 ? "#{interaction_length}+" : interaction_length

  %td.static-position
    = link_to edit_modal_clients_path(id: client.id), class: 'text-default', remote: true, data: { tooltip: tc(:edit) } do
      = g_icon(:edit, 'sm-g-icon')
  %td.static-position
    = link_to client_path(client), method: :delete, class: 'text-danger', data: { confirm: tgm(:are_you_sure) }, remote: true, data: { tooltip: tc(:destroy) } do
      = g_icon(:delete, 'sm-g-icon')
