.box
  .box-header
    .flex.align-center
      .box-header-title
        = tm(Client, :title)
      %span.box-header-count.text-muted
        = @clients ? (@clients.length > 0 ? @clients.length : '')  : ''

    .btn-group
      
      = link_to index_modal_table_settings_path(entity: "Client"), remote: true, data: { tooltip: tm(:CustomField, :table_settings) }, class: "btn btn-default" do
        = fa_icon(:gear)
      = link_to new_modal_clients_path, class: "btn btn-primary", data: { tooltip: tc(:new) }, remote: true do 
        = fa_icon(:plus)

  .box-body
    #clients-table= render partial: '/clients/table', locals: { clients: @clients, columns: @columns, entity: 'Client' }


#client-modal-outer
#interaction-modal-outer