= simple_form_for @order, remote: true, html: { id: 'order-form' } do |f|
  .form
    = f.input :client_id, as: :select, collection: Client.all.map { |wu| [wu.name, wu.id] }
    = f.input :status
    = f.input :amount
    = f.input :expense
    = f.input :profit
    = f.input :comment
    -# = f.input :closed_at
    = f.input :manager_id
