%tr.order-row{ data: { order_id: order.id } }
  - columns.each do |column|
    %td{ class: (column[:key] == :id || column[:field_type] == 'link') ? 'text-center' : '', style: column[:visible] ? 'display: table-cell;' : 'display: none;', data: { column_key: column[:key], position: column[:position] } }
      - if column[:key] == :created_at
        = small_datetime(order.created_at)
      - elsif column[:key] == :updated_at
        = small_datetime(order.updated_at)
      - elsif column[:key] == :order_status_id
        = color_badge(order.order_status&.name, order.order_status&.color)
      - else
        = order.table_value(column[:key])
        
  %td.static-position
    = link_to edit_modal_orders_path(id: order.id), class: 'text-default', remote: true, data: { tooltip: tc(:edit) } do
      = g_icon(:edit, 'sm-g-icon')
  %td.static-position
    = link_to order_path(order), method: :delete, class: 'text-danger', data: { confirm: tgm(:are_you_sure) }, remote: true, data: { tooltip: tc(:destroy) } do
      = g_icon(:delete, 'sm-g-icon')