.box
  .box-header
    .box-header-title
      = tm(Order, :title)
      %span.box-header-count.text-muted= @orders.length > 0 ? @orders.length : ''
    = link_to new_modal_orders_path, class: "btn btn-primary", remote: true do 
      = fa_icon(:plus)
      = tc(:new)

  .box-body
    = render partial: '/orders/table', locals: { orders: @orders }

#order-modal-outer