%tr.company-row{ data: { company_id: company.id } }
  %td= company.id
  %td= company.name
  %td= company.slug
  %td= company.active
  %td= company.paid_until
  %td= company.manager_id
  %td
    = link_to company_path(company), method: :delete, class: 'text-danger', data: { confirm: tgm(:are_you_sure) }, remote: true do
      = g_icon(:delete, 'sm-g-icon')