#authorization-form
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .authorization-header
      %h2 Авторизация
    .authorization-body
      .row
        .col-md-12
          = f.label :email
          = f.email_field :email, autofocus: true, autocomplete: "email"
      .row
        .col-md-12
          = f.label :password
          = f.password_field :password, autocomplete: "current-password"
      - if devise_mapping.rememberable?
        .row
          .col-md-12
            .space-between.align-center
              = f.label :remember_me
              = f.hidden_field :remember_me
              = f.check_box :remember_me, class: 'switch'
    .authorization-footer
      .actions
        = f.submit "Войти", class: 'btn-primary'