%tr.product-row{ data: { product_id: product.id } }
  - columns.each do |column|
    %td{ class: (column[:key] == :id || column[:field_type] == 'link') ? 'text-center' : '', style: column[:visible] ? 'display: table-cell;' : 'display: none;', data: { column_key: column[:key], position: column[:position] } }
      - if column[:key] == :created_at
        = small_datetime(product.created_at)
      - elsif column[:key] == :updated_at
        = small_datetime(product.updated_at)
      - elsif column[:key] == :product_status_id
        = color_badge(product.product_status&.name, product.product_status&.color)
      - else
        = product.table_value(column[:key])

  %td.static-position
    = link_to edit_modal_products_path(id: product.id), class: 'text-default', remote: true do
      = g_icon(:edit, 'sm-g-icon')
  %td.static-position
    = link_to product_path(product), method: :delete, class: 'text-danger', data: { confirm: tgm(:are_you_sure) }, remote: true do
      = g_icon(:delete, 'sm-g-icon')