#sidebar{ class: current_user.get_sidebar_state ? "hide" : "" }
  .sidebar-header
    .logo
      .logo-icon= g_icon(:deployed_code)
      .logo-text ErpCore
  .sidebar-body
    .sidebar-item{ class: clients_path.include?(@cur_url) ? 'active' : '' }
      = link_to clients_path do
        = g_icon(:identity_platform)
        .sidebar-title
          = tm(Client, :title)
    .sidebar-item{ class: client_types_path.include?(@cur_url) ? 'active' : '' }
      = link_to client_types_path do
        = g_icon(:format_list_numbered)
        .sidebar-title
          = tm(ClientType, :title)

    .sidebar-item{ class: client_statuses_path.include?(@cur_url) ? 'active' : '' }
      = link_to client_statuses_path do
        = g_icon(:circle_circle)
        .sidebar-title
          = tm(ClientStatus, :title)
        
    %br
    .sidebar-item{ class: interactions_path.include?(@cur_url) ? 'active' : '' }
      = link_to interactions_path do
        = g_icon(:phone)
        .sidebar-title
          = tm(Interaction, :title)

    .sidebar-item{ class: interaction_types_path.include?(@cur_url) ? 'active' : '' }
      = link_to interaction_types_path do
        = g_icon(:format_list_numbered)
        .sidebar-title
          = tm(InteractionType, :title)
        
    .sidebar-item{ class: interaction_statuses_path.include?(@cur_url) ? 'active' : '' }
      = link_to interaction_statuses_path do
        = g_icon(:circle_circle)
        .sidebar-title
          = tm(InteractionStatus, :title)

    %br
    .sidebar-item{ class: orders_path.include?(@cur_url) ? 'active' : '' }
      = link_to orders_path do
        = g_icon(:receipt_long)
        .sidebar-title
          = tm(Order, :title)

    .sidebar-item{ class: order_statuses_path.include?(@cur_url) ? 'active' : '' }
      = link_to order_statuses_path do
        = g_icon(:circle_circle)
        .sidebar-title
          = tm(OrderStatus, :title)
        
    %br
    .sidebar-item{ class: products_path.include?(@cur_url) ? 'active' : '' }
      = link_to products_path do
        = g_icon(:package_2)
        .sidebar-title
          = tm(Product, :title)

        
    - if policy(:user).index?
      %br
      .sidebar-item{ class: users_path.include?(@cur_url) ? 'active' : '' }
        = link_to users_path do
          = g_icon(:groups)
          .sidebar-title
            = tm(User, :title)
    - if policy(:company).index?
      .sidebar-item{ class: companies_path.include?(@cur_url) ? 'active' : '' }
        = link_to companies_path do
          = g_icon(:corporate_fare)
          .sidebar-title
            = tm(Company, :title)

