#sidebar
  .sidebar-header
    EggClients
  .sidebar-body
    .sidebar-item
      = link_to clients_path do
        = g_icon(:groups_2)
        .sidebar-title
          = tm(Client, :title)
        
    .sidebar-item
      = link_to interactions_path do
        = g_icon(:phone)
        .sidebar-title
          = tm(Interaction, :title)
        
    .sidebar-item
      = link_to orders_path do
        = g_icon(:receipt_long)
        .sidebar-title
          = tm(Order, :title)