!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover, user-scalable=no" }
    %meta{ name: "mobile-web-app-capable", content: "yes" }
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }
    = csrf_meta_tags
    = csp_meta_tag
    = action_cable_meta_tag
    = stylesheet_link_tag 'application', media: 'all'

    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.js", integrity: "sha512-K/oyQtMXpxI4+K0W7H25UopjM8pzq0yrVdFdG21Fh5dBe91I40pDd9A4lzNlHPHBIP2cwZuoxaUSX0GJSObvGA==", crossorigin: "anonymous", referrerpolicy: "no-referrer" }
    = javascript_include_tag 'application'
    
    %link{ rel: "manifest", href: "/manifest.json" }
    %link{ rel: "icon", href: "/icons/logo.png", type: "image/png" }
    %link{:href => "https://fonts.googleapis.com", :rel => "preconnect"}
    %link{:crossorigin => "", :href => "https://fonts.gstatic.com", :rel => "preconnect"}
    %link{ href: "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined", rel: "stylesheet" }
    %link{ href: "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap", rel: "stylesheet"}
    %link{ href: "https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css", rel: "stylesheet" }
    %link{ rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.css", integrity: "sha512-MQXduO8IQnJVq1qmySpN87QQkiR1bZHtorbJBD0tzy7/0U9+YIC93QWHeGTEoojMVHWWNkoCp8V6OzVSYrX0oQ==", crossorigin: "anonymous", referrerpolicy: "no-referrer" }

    %title= content_for(:title) || "ErpCore"
  %body
    #wrap
      - if current_user
        = render partial: '/layouts/sidebar'
      #content
        - if current_user
          .content-header
            .sidebar-controls.hide-show-sidebar

              .hide-show-sidebar-btn.hide-sidebar-btn{ style: current_user.get_sidebar_state ? "display: none;" : "display: block;" }
                = g_icon(:chevron_left)
              .hide-show-sidebar-btn.show-sidebar-btn{ style: current_user.get_sidebar_state ? "display: block;" : "display: none;" }
                = g_icon(:chevron_right)

            .extra-sidebar-controls.show-sidebar
              .extra-show-sidebar-btn{ style: "display: block;" }
                = g_icon(:chevron_right)

            .content-header-controls
              .content-user-info
                .content-user-info-item
                  -# .user-logo
                  -#   = link_to user_path(current_user) do
                  -#     = g_icon(:account_circle)
                .content-user-info-item
                  = link_to user_path(current_user) do
                    .user-email= current_user.email
                    .user-role.text-muted= current_user.role
                .content-user-info-item
                  = link_to destroy_user_session_path, method: :delete do
                    = g_icon(:logout)

              -# - else
              -#   .content-header-item
              -#     = link_to new_user_session_path do
              -#       = g_icon(:login)

        .content-body
          = yield
    .footer

= render partial: '/layouts/confirmation_modal'
= render partial: '/layouts/modal_templates'
.overlay

:javascript
  document.addEventListener("DOMContentLoaded", function() {
    #{flash.map do |type, message|
      js_method =
        case type.to_sym
        when :notice, :primary then "primary"
        when :alert, :warning  then "warning"
        when :error, :danger   then "danger"
        when :success          then "success"
        else "primary"
        end

      "if (window.toastr) { window.toastr.#{js_method}(#{message.to_json}); }"
    end.join("\n")}
  });